**Import important module**

In [1]:
import mysql.connector as sql
import pandas as pd
import csv
from mysql.connector import connect, Error

**Conenect to database MySQL Workbench**

In [2]:
mydb = sql.connect(host='localhost', user='root', port=3306, database='maverick', use_pure=True)

In [3]:
mycursor = mydb.cursor()

**Creating table for Metal Prices and droping the table if exist in the database**

In [4]:
mycursor.execute("DROP TABLE IF EXISTS precious_metals")
mycursor.execute("""
  CREATE TABLE precious_metals (
    Year INT,
    Month INT,
    Date DATE,
    Gold DECIMAL(10, 2),
    Silver DECIMAL(10, 2),
    Platinum DECIMAL(10, 2),
    Palladium DECIMAL(10, 2)
  )
""")
mydb.commit()

**Adding data in the table using csv file Metal_Prices.csv**

In [5]:
with open('Metal_Prices.csv', 'r') as csv_file:
    # Create a CSV reader object
    csv_data = csv.reader(csv_file)
    next(csv_data)
    
    for row in csv_data:
        mycursor.execute('INSERT INTO precious_metals (Year, Month, Date, Gold, Silver, Platinum, Palladium) VALUES (%s, %s, %s, %s, %s, %s, %s)', row)

mydb.commit()

**Adding another table or dpropping of exist for data Inflation_Figures.csv**

In [6]:
mycursor.execute("DROP TABLE IF EXISTS inflation_years")
mycursor.execute("""
  CREATE TABLE inflation_years (
    Year INT,
    Month INT,
    Inflation DECIMAL(10, 2)
  )
""")
mydb.commit()

**Adding data to the table**

In [7]:
with open('Inflation_Figures.csv', 'r') as csv_file:
    # Create a CSV reader object
    csv_data = csv.reader(csv_file)
    next(csv_data)
    
    for row in csv_data:
        mycursor.execute('INSERT INTO inflation_years (Year, Month, inflation) VALUES (%s, %s, %s)', row)
        
mydb.commit()

**Example querry to check the database**

In [8]:
sqlquery = "select p.date, p.year, p.gold, i.inflation from precious_metals as p left join inflation_years as i on p.month = i.month limit 5 "
mycursor.execute(sqlquery)
result = mycursor.fetchall()
for i in result:
    print(i)

(datetime.date(1990, 12, 28), 1990, Decimal('385.80'), Decimal('9.20'))
(datetime.date(1990, 12, 28), 1990, Decimal('385.80'), Decimal('4.80'))
(datetime.date(1990, 12, 28), 1990, Decimal('385.80'), Decimal('0.80'))
(datetime.date(1990, 12, 28), 1990, Decimal('385.80'), Decimal('1.40'))
(datetime.date(1990, 12, 28), 1990, Decimal('385.80'), Decimal('2.00'))

**Creating another table Monthly_metal_Prices_Inflation.csv and dropping if exist**

In [9]:
mycursor.execute("DROP TABLE IF EXISTS metals_with_inflation")
mycursor.execute("""
  CREATE TABLE metals_with_inflation (
    Year INT,
    Month INT,
    Date DATE,
    Gold DECIMAL(10, 2),
    Silver DECIMAL(10, 2),
    Platinum DECIMAL(10, 2),
    Palladium DECIMAL(10, 2),
    Inflation DECIMAL(10, 2)
  )
""")
mydb.commit()

**Adding data to the table using Monthly_metal_Prices_Inflation.csv**

In [10]:
with open('Monthly_metal_Prices_Inflation.csv', 'r') as csv_file:
    # Create a CSV reader object
    csv_data = csv.reader(csv_file)
    next(csv_data)

    for row in csv_data:
        mycursor.execute('INSERT INTO metals_with_inflation (Year, Month, Gold, Silver, Platinum, Palladium, inflation) VALUES (%s, %s, %s, %s, %s, %s, %s)', row)

mydb.commit()

**Example querry to check the database**

In [11]:
sqlquery = "select p.year, p.gold, p.inflation from metals_with_inflation as p limit 10 "
mycursor.execute(sqlquery)
result = mycursor.fetchall()
for i in result:
    print(i)

(1990, Decimal('374.59'), Decimal('6.20'))
(1990, Decimal('368.95'), Decimal('7.70'))
(1990, Decimal('352.49'), Decimal('8.20'))
(1990, Decimal('362.18'), Decimal('8.20'))
(1990, Decimal('394.79'), Decimal('8.20'))
(1990, Decimal('389.44'), Decimal('8.90'))
(1990, Decimal('381.04'), Decimal('9.20'))
(1990, Decimal('381.80'), Decimal('9.20'))
(1990, Decimal('377.06'), Decimal('9.20'))
(1991, Decimal('384.11'), Decimal('9.20'))